<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Parent dashboard</title>
    <link rel="stylesheet" th:href="@{/css/parent/dashboard.css}">
</head>
<body>
<h1>Panel opiekuna</h1>
<div>
    <ul>
        <li>
            <form th:action="@{/parent/reports}" th:method="'post'">
                <button type="submit">Generuj raport</button>
            </form>
        </li>
        <li>
            <form th:action="@{/parent/absences}" th:method="'post'">
                <button type="submit">Zgłoś nieobecność dziecka</button>
            </form>
        </li>
        <li>
            <form th:action="@{/parent/meal}" th:method="'post'">
                <button type="submit">Zmień dietę</button>
            </form>
        </li>
        <br>
        <li>
            <form action="/logout">
                <button type="submit">Wyloguj</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>
