li {
    display: inline;
}

.calendar{
    margin-left: 50px;
}

.group{
    margin-left: 50px;
}
body {
    background-color: #ffdca2 !important;

}

label{
    font-weight: bold;
    font-size: large;
}

html{
    background-color: #ffdca2 !important;
    height: 100%;
    font-family: "Segoe UI Light";
}

input[type="submit"], button {
    background-color: #DCA2FF;
    padding: 20px;
    display: inline-block;
    border: none;
    font-family: "Segoe UI Light";
    font-size: large;
    font-weight: bold;
    width: 160px;
    height: 80px;
    margin: 50px;
    border-radius: 12px;
}

input[type="submit"]:hover, button:hover {
    background-color: #A2FFDC;
}

input[type="submit"]:active, input[type="submit"]:focus, button:active, button:focus {
    outline: none;
}

#description{
    width: 400px;
    height: 200px;
    margin-left: 50px;
}

form {
    display: inline;
}
h1{
    margin-left: 90px;
}

table.weekTable {
    background-color: #ffdca2;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
    font-family: "Segoe UI Light";
    font-weight: bold;
    /*border: 1px solid #AAAAAA;*/
}
table.weekTable td, table.weekTable th {
    padding: 3px 2px;
}
table.weekTable tbody td {
    /*border: 1px solid #AAAAAA;*/
    font-size: 14px;

}
table.weekTable tfoot td {
    font-size: 13px;
}
table.weekTable tfoot .links {
    text-align: right;
}

#changeButton, #saveButton{
    margin: 2px;
    height: 40px;
    width: 120px;
    padding: 3px;
}

#saveButton{
    display: none;
}

.dayText{
    display: block;
}

.dayEdit{
    display: none;
    width: 90px;
}

.hour{
    width: 15px;
    border: none;
    font-family: "Segoe UI Light";
    font-weight: bold;
    text-align: center;
}
