<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
</head>
<header>
    <h1 class="logo">Logo</h1>

    <nav>
        <li><a href="/home">Home</a></li>
        <li><a href="/contact">Kontakt</a></li>
        <li><a href="/aboutUs">O nas</a></li>
        <li><a href="/home">Wydarzenia</a></li>

    </nav>


</header>



<body>

</body>
</html>
